@page "/tools/lists/list-transformer"
@using DbMilos.Domain.Interfaces
@inject IListParser listParser
@inject IListTransformer listTransformer
@rendermode InteractiveServer
<div>
    <div class="d-flex">
        <div>
            <textarea class="d-block" cols="10" @bind=UserInput></textarea>
            <input type="text" @bind=SplitSeparator />
        </div>
        <div>
            <button class="d-block" @onclick="MakeUppercase">To Uppercase</button>
            <input type="text" @bind=JoinSeparator />
        </div>
        <div>
            @Result
        </div>
    </div>
</div>
@code {
    public string UserInput { get; set; } = "...";
    public string Result { get; set; } = "...";
    public string SplitSeparator { get; set; } = ",";
    public string JoinSeparator { get; set; } = ",";

    public void MakeUppercase()
    {
        List<string> parsed = listParser.ParseItems(UserInput, SplitSeparator);
        Result = string.Join(JoinSeparator, listTransformer.ToUppercase(parsed));
    }
}