<div>
    <textarea value=@UserInput @oninput="HandleUserInputChange"></textarea>
    <hr />
    <div>
        <label>
            Separator
        </label>
        <input type="text" value=@Separator @oninput="HandleSeparatorChange" />
    </div>
</div>

@code {
    [Parameter]
    public string UserInput { get; set; } = "";
    [Parameter]
    public EventCallback<string> UserInputChanged { get; set; }
    public async Task HandleUserInputChange(ChangeEventArgs e)
    {
        UserInput = (string)e.Value;
        await UserInputChanged.InvokeAsync(UserInput);
    }



    [Parameter]
    public string Separator { get; set; } = ",";
    [Parameter]
    public EventCallback<string> SeparatorChanged { get; set; }
    public async Task HandleSeparatorChange(ChangeEventArgs e)
    {
        Separator = (string)e.Value;
        await SeparatorChanged.InvokeAsync(Separator);
    }
}
