@page
@model DbMilos.WebApp.Pages.Tools.Lists.ListTransformerModel
@{
}

<nav aria-label="breadcrumb">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Tools</a></li>
    <li><a href="#">Lists</a></li>
    <li>List Transformer</li>
  </ul>
</nav>
<div id="list-transformer">
   
</div>

@section Scripts {
    <script type="module" crossorigin src="/apps/tools/list-transformer/list-transformer.js">
    </script>
}
@section Styles {
    <link rel="stylesheet" crossorigin type="text/css" href="/apps/tools/list-transformer/list-transformer.css" />
}