@{
    ViewData["Title"] = "Home Page";
}
<div id="home-page">

    <div>
        <div>
            <h2 class="">Welcome</h2>
            
        </div>
        <hr />
        <div class="grid">
            <div>
               <h3>Latest Tools</h3>
                <a asp-page="/Tools/Lists/ListTransformer">List Transformer</a>

            </div>
            <div>
                <h3>Latest Facts</h3>
            </div>
        </div>


    </div>
</div>