@page "/"
@using DbMilos.WebApp.Components.Tools.Lists.ListTransformer

<PageTitle>Home</PageTitle>

<div class="row featured-home-grid">
    <div class="container">
        <div class="row">
            <div class="col">
                <section class="featured-home-grid__large-item">
                    <h3>List Transformer</h3>
                    <p>Transform all items of the list to new values.</p>
                    <a class="btn btn-primary" href="/tools/lists/list-transformer">Open</a>
                </section>
            </div>
            <div class="col">
                <section class="featured-home-grid__small-item">
                    <h3>Random Item From list</h3>
                    <p>Get a random item fro your list.</p>
                    <button class="btn btn-secondary">Open</button>
                </section>
                <section class="featured-home-grid__small-item">
                    <h3>Random Item From list</h3>
                    <p>Get a random item fro your list.</p>
                    <button class="btn btn-secondary">Open</button>
                </section>
            </div>
        </div>
    </div>
    </div>
<div class="row">
    <div class="container">
        <section class="category category--home">
            <div class="w-75">
                <h3>List Tools</h3>
                <p>Checkout all the tools to work with lists.</p>
            </div>
            <div style="w-25 text-align:right">
                <i style="font-size:3rem" class="bi bi-play-fill"></i>
            </div>
        </section> 
        <section class="category category--home">
            <div class="w-75">
                <h3>Random Tools</h3>
                <p>Checkout all the tools to work with randomness. Random numbers, random items, random pick...</p>
            </div>
            <div style="w-25 text-align:right">
                <i style="font-size:3rem" class="bi bi-play-fill"></i>
            </div>
        </section>
    </div>
</div>
