@page "/wizard/tryout"
@rendermode InteractiveServer
<div>
    @switch (CurrentStep)
    {
        case 0:
            <div>
            <h2>WElcome</h2>
                <button @onclick="()=>CurrentStep++">Next</button>
                </div>
            break;
        case 1:
            <div>Step 1
                <input type="text" @bind=UserInput1 />

            </div>
            break;
        case 2:
            <div>Step 2
                <input type="text" @bind=UserInput2 />

            </div>
            break;
        case 3:
            <div>Step 3
                <input type="text" @bind=UserInput3 />
                <button @onclick="()=>CurrentStep++">Finish</button>
            </div>
            break;
        case 4:
            <div>
                Done.
                <p>
                    @UserInput1
                </p>
                <p>
                    @UserInput2
                </p>
                <p>
                    @UserInput3
                </p>

            </div>
            break;
    }
    @if (CurrentStep != 0)
    {
        <button @onclick="()=>CurrentStep--">Previous</button>
    }
    @if (CurrentStep > 0 && CurrentStep != Steps)
    {
        <button @onclick="()=>CurrentStep++">Next</button>
    }

</div>

@code {
    public uint Steps { get; set; } = 3;
    public uint CurrentStep { get; set; } = 1;

    public string UserInput1 { get; set; } = "";
    public string UserInput2 { get; set; } = "";
    public string UserInput3 { get; set; } = "";
}
